<div class="chat-dropdown">
  <div class="button-wrapper">
    <button class="button"><img
        src="./context.svg"
        alt="context menu"
      /></button>
  </div>
  <div class="dropdown-content">
    <div>Добавить пользователя</div>
    <div>Удалить чат</div>
  </div>
</div>
