.button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 8px;
    padding: 12px 0 12px;
    border: none;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: 0.3s ease-in;
    }

    &:active {
        transform: scale(0.97);
    }
}