<div id="createChatModal" class="create-modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Введите название чата:</p>
    <div class="input-wrapper">{{{TitleInput}}}</div>
    <div class="button-wrapper">{{{Button}}}</div>
  </div>
