<div class="chat-body">
  <div class="header">
    <div class="avatar-wrapper"></div>
    <div>{{chat.chatName}}</div>
    {{#if chat.messages.length}}
      {{{Dropdown}}}
    {{/if}}
  </div>
  {{#if chat.messages.length}}
    <div class="message-list">{{{MessageList}}}</div>
    <div>{{{MessageInput}}}</div>
  {{/if}}
</div>
