<div class="chat-body">
  <div class="header">
    <div class="avatar-wrapper"></div>
    <div>{{chat.chatName}}</div>
    <div class="button-wrapper">
      <button class="button"><img
          src="./context.svg"
          alt="context menu"
        /></button>
    </div>
  </div>
  <div class="message-list">{{{MessageList}}}</div>
  <div>{{{MessageInput}}}</div>
</div>