<div class="search-input-group">
  <img class="magnify-glass" src="./search.svg" alt="magnify-glass" />
  <input
    class="input"
    type="text"
    name="search"
    id="searchInput"
    placeholder="Поиск"
    value="{{value}}"
  />
</div>