<div class="side-panel">
  <form action="./messenger">
    <div class="button-wrapper">
      <button class="button"><img src="./send.svg" alt="back button" /></button>
      {{! <button class="back-button" type="submit">&larr;</button> }}
    </div>
  </form>
</div>
