<form class="form-avatar" action="submit" id="avatarForm">
  <img class="avatar" src="{{avatarUrl}}" alt="avatar" />
  <input
    id="file-input"
    type="file"
    name="avatar"
    accept=".jpeg, .jpg, .png, .gif"
  />
  <label for="file-input" class="hovered-content">Поменять аватар</label>
</form>
