<form class="form-avatar {{#if isSmall}}form-avatar-small{{/if}}" action="submit" id="avatarForm">
  <img class="avatar" src="{{avatarUrl}}" alt="avatar" />
  <input
    id="{{avatarId}}"
    type="file"
    name="avatar"
    accept=".jpeg, .jpg, .png, .gif"
  />
  {{#if isStatic}}
  {{else}}
  <label for="{{avatarId}}" class="hovered-content">Поменять аватар</label>
  {{/if}}
</form>
