<div class="chat-list-wrapper">
  <div class="link">{{{Link}}}</div>
  {{{SearchInput}}}
  <div class="button-wrapper">{{{Button}}}</div>
  <div class="chat-list">
    {{{ChatColumnList}}}
  </div>
</div>
