.chat-list-wrapper {
    background-color: var(--secondary-background-color);
    padding: 20px 10px;
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    gap: 16px;
    overflow-y: auto;

    .chat-list {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
    }

    .link {
        margin-left: auto;
    }
}
