<div id="addUserModal" class="add-user-modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Начните вводить login пользователя:</p>
    <div class="input-wrapper">{{{TitleInput}}}</div>
    <div class="button-wrapper">{{{Button}}}</div>
    {{{UsersList}}}
  </div>
